figure {
    position: relative;
}

figure:before,
figure:after {
    content: '';
    height: 20%;
    width: 50%;
    top: 0;
    left: 0;
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}